$yellow: #FFCC2F;
$brown: #543729;
$blue: #00ACEE;

html {
	font-size: 62.5%;
}

body {
	font-family:'Open Sans', arial, sans-serif;
}

p {
	margin-top:0;
}

img {
	max-width: 100%;
}

.muted {
	font-size: 1rem;
	color: #777;
}

a {
	color: $blue; 
	&:hover {
		text-decoration: none;
		color: lighten($blue, 9);
	}
}

a:active, a:focus {
	text-decoration: none;
}

a.u-btn {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	background-color: $blue;
	display: inline-block;
	padding: 15px 25px;
	cursor: pointer;
	border-radius: 2px;
	transition: all 0.3s;
	margin: 10px auto;
	&:hover {
		background-color: lighten($blue, 5);
		text-decoration: none;
		color: #fff;
	}
}

.fade {
	opacity: 0;
}

.hero {
	padding: 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd351+2,ffcc2f+68,ffc519+100 */
	background: #ffd351; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffd351 2%, #ffcc2f 68%, #ffc519 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(2%,#ffd351), color-stop(68%,#ffcc2f), color-stop(100%,#ffc519)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffd351 2%,#ffcc2f 68%,#ffc519 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffd351 2%,#ffcc2f 68%,#ffc519 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffd351 2%,#ffcc2f 68%,#ffc519 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffd351 2%,#ffcc2f 68%,#ffc519 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd351', endColorstr='#ffc519',GradientType=1 ); /* IE6-9 */

	.container {
		opacity: 0;
	}

	a, a:hover {
		color: #222;
		text-decoration: none;
	}
	@media (min-height:720px) {
		padding: 180px 0 80px 0;
	}
	h1 {
		font-weight: 300;
		text-transform: uppercase;
		margin: 0;
		letter-spacing: 3px;
		font-size: 1.4rem;
	}
	h2 {
		font-size: 3rem;
		font-weight: bold;
		text-transform: uppercase;
		margin:0 0 5px 7px;
	}
	@media (min-width:720px) {
		padding: 100px 0 40px 0;
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 5rem;
		}
	}
}

.tagline {
	margin: 0;
	font-weight: bold;
	text-transform:uppercase;
	letter-spacing: 3px;
	font-size: 2rem;
	display: block;
	background-color: $brown;
	color: #fff;
	text-align:center;
	@media (min-width:720px) {
		text-align: left;
	}
	h1 {
		font-size: 2.4rem;
	}
}

#pitch {
	padding: 45px 0;
	max-width: 840px;
	text-align: center;
	@media (min-height:720px) {
		padding: 50px 0 160px 0;
	}
	@media (min-width:720px) {
		text-align: left;
	}
	p {
		font-size: 2.8rem;
		font-weight: 300;
		line-height: 1.4;
		&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
			font-size: 1.6rem;
			line-height: 1;
		}
		&:nth-of-type(4) {
			font-weight: bold;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 1.6em;
			margin-top: 45px;
		}
	}
}

#cta {
	& > span {
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #fff;
		background-color: $blue;
		display: inline-block;
		padding: 15px 25px;
		cursor: pointer;
		border-radius: 2px;
		transition: all 0.3s;
		text-align: left;
		margin-bottom: 10px;
		&:hover {
			background-color: darken($blue, 5);
		}
	}
	& > span:hover + h5 {
		opacity: 1;
	}
	& > span:active + h5 {
		color: $brown;
	}
	h5 {
		opacity: 0;
		transition: opacity 0.3s;
		display: inline-block;
		margin: 0 0 0 15px;
		font-size: 1.8rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #777;
		line-height: 24px;
		@media (min-width:720px) {
			line-height: 55px;
		}
	}
}

footer {
	background-color: #eee;
	border-top:1px solid #ddd;
	color: #fff;
	padding: 45px 0;
	text-align:left;
	ul {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			display: inline-block;
			margin-right: 10px;
		}
	}
	a {
		color: rgba(0,0,0,0.3);
		font-size: 3.6rem;
		transition: color 0.3s;
		&:hover {
			color: $blue;
		}
	}
	p {
		color: rgba(0,0,0,0.6);
		font-size: 1.2rem;
	}
	h5 {
		color: rgba(0,0,0,0.8);
		margin: 0 0 10px 0;
		font-size: 1.8rem;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
	transition: all 0.4s ease-in-out;
  opacity: 1 !important;
	&.body {
		transition: all 0.8s ease-in-out;
	}
}



@media (max-width:720px) {
	footer {
		text-align: center;
		h5 {
			font-size: 1.2rem;
			span {
				display: none;
			}
		}
	}
	#cta {
		text-align: center;
		span {
			display: none;
		}
		h5 {
			opacity: 1;
			font-size: 12px;
		}
	}
}