---
title: About me
---
<div class="tagline padding-sm">
  <div class="container">
    <h1>About me</h1>
  </div>
</div>

<div class="container padding-md">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'me.jpg' %>
			<p class="muted margin-sm">
				Jeremy Venegas is currently based in Fresno CA with his wife and baby boy. He is looking to relocate.
			</p>
			<%= link_to 'View my full resume', 'images/resume.pdf', :class=>'u-btn', :target=>'_blank' %>
		</div>
		<div class="col-xs-12 col-sm-8">
			<p>
				For over three years I have been building fully responsive web interfaces using html, css, and javascript. I can code pixel perfect representations of virtually any design. I have extensive experience in SASS and use it to its fullest extent to maximize my speed and overall code quality. I adhere to SMACSS principles. I prioritize code cleanliness and reusability on every line of SCSS I write. I have years of hands on experience in using front end libraries like bootstrap and foundation. In addition to that I also have the CSS knowledge to build projects without the need of any third party libraries. Everything I code is responsive. I build mobile first, and design everything to adapt to a user’s screen size. This way every user gets a pleasant and optimized experience.  
			</p>
			<p>
				I have over two years of experience working as a UI/UX designer within a team of four. I have a strong understanding of UX principles and design patterns. I have a keen attention to detail, and an eye for design. I believe good software has to be more than just functional. I design user interfaces that are easy to understand. I know how to work as a team, and how to design collaboratively. I understand that good communication with both team members and the client is extremely crucial, especially in an agile environment. I have experience building design guides for clients. These design guides include wireframes, mockups, style tiles, and sitemaps.
			</p>
			<p>
				I also have experience working with javascript. Mostly DOM manipulative libraries like Jquery. I have some experience working on single page websites built using AngularJS. Currently my focus is on learning more about MVC frameworks; Ember.js in particular.
			</p>
			<p>
				I have experience working in a Linux environment. I’ve been using version control solutions like git for years now and have a strong understanding of how they improve work flow.
			</p>
			<p>
				I enjoy the challenges that come from converting a design into code. I believe every project is full of learning experiences. It’s a good developers responsibility to capitalize on learning opportunities whenever they come by. I simply love learning more about code
			</p>
			<p>
				<%= link_to 'Return home', 'index.html' %>
			</p>
		</div>
	</div>
</div>