---
title: Freelance front end web developer
---

<div id="hero">
	<div class="container">
		<h2>Jeremy Venegas</h2>
		<h1>front end web developer &amp; Designer</h1>
	</div>
</div>
<h5 id="tagline" class="padding-sm">
	<div class="container">
		For over 3 years I've been designing and developing websites.
	</div>
</h5>
<div class="container">
	<div id="pitch">
		<p>
			I live and breath html, css, and javascript.
			Not only am I an expert, but I can offer more competive prices than any other firm can.
		</p>
		<p>
			I'm eager to help. Request a quote today!
		</p>
		<div id="cta">
			<span>Hire me</span>
			<h5>(559) 538-0167 | jeremymvenegas@gmail.com</h5>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<ul>
			<li><a href="https://www.linkedin.com/in/jeremyvenegas" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
			<li><a href="https://www.behance.net/jeremyvenegas" target="_blank"><i class="fa fa-behance-square"></i></a></li>
		</ul>
		<h5>(559) 538-0167 | jeremymvenegas@gmail.com</h5>
		<p>Jeremy Venegas is currently based in Fresno CA with his wife and baby boy.</p>
	</div>
</footer>
