---
title: Freelance front end web developer
---
<div class="tagline padding-sm">
  <div class="container">
    For over 3 years I've been designing and developing websites.
  </div>
</div>

<div class="container">
	<div id="pitch">
		<p>
			I love html, css, and javascript.
		</p>
		<p>
			I have years of professional experience working at development firms.
		</p>
		<p>
			As a solo unit however I can offer the most competiive pricing for a custom website.
		</p>
		<p>
			Request a quote today!
		</p>
		<div id="cta">
			<span>Hire me</span>
			<h5>(559) 538-0167 | jeremymvenegas@gmail.com</h5>
		</div>
		<br>
		<%= link_to 'About Me', 'about.html' %> | <%= link_to 'Resume', 'images/resume.pdf', :target=>'_blank' %>
	</div>
</div>