---
title: Freelance front end web developer
---
<div class="tagline padding-sm">
  <div class="container">
    For over 3 years I've been designing and developing websites.
  </div>
</div>

<div class="container fade body">
	<div id="pitch">
		<p class="large">
			I love html, css, and javascript.
		</p>
		<p>
			On my own I rapidly prototype and develop static marketing websites at competitive prices.
			For large scale projects I will work along side other development teams.
		</p>
		<p class="quote">
			Request a quote today!
		</p>
		<div id="cta">
			<span>Hire me</span>
			<h5>(559) 538-0167 <span>|</span> jeremymvenegas@gmail.com</h5>
		</div>
		<br>
		<%= link_to 'About Me', 'about.html' %> | <%= link_to 'Resume', 'images/resume.pdf', :target=>'_blank' %>
	</div>
</div>