---
title: Freelance front end web developer
---

<!-- sig -->

<h2>Jeremy Venegas</h2>
<h1>Freelance front end web developer</h1>
<h5>I'm the artistic geek you need.</h5>

<p>
	For over 3 years I've been developing front end code. I live and breath html, css, and javacsript. Not only am I an expert, but I can offer more competive prices than any other firm can. Contact me today, I'm eager to help.
</p>